@import "./mixins";

.article {
  @include flex-container;
  justify-content: space-between;
  padding: 3.7rem 9.1rem;
  font-size: 2rem;
  border-radius: var(--default-radius);
  box-shadow: 0 2rem 5rem 0.5rem #0d102511;
  margin-top: 10.3rem;
  margin-bottom: 9.6rem;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: calc(var(--default-padding) *1.5);
  }

  &__statistics {
    @include flex-container;
    gap: 3.6rem;

    &-content {
      @include flex-container;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--color-grayish-blue);

      &-num {
        font-size: 2.5rem;
      }
    }

    &:nth-of-type(2) {
      flex: 1;
      height: 12.5rem;
      max-width: 43rem;
      border-right: 2px solid #eeeff2;
      border-left: 2px solid #eeeff2;
      justify-content: center;

      @include mobile-tablet {
        border: none;
        border-top: 2px solid #eeeff2;
        border-bottom: 2px solid #eeeff2;
        padding: var(--default-padding);
      }
    }
  }
}
