@import "./mixins";

.container {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  padding-inline: 10.9rem;
  border: 1px solid;
  @include mobile-tablet {
    padding-inline: var(--default-padding);
  }
}
