@import "../components/mixins";

.footer {
  margin-top: -22.5rem;
  @include flex-container;
  align-items: flex-start;
  justify-content: center;
  gap: 23rem;
  padding-top: 20rem;
  padding-bottom: 10rem;
  position: relative;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 0;
    padding-top: var(--default-padding);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: #f8f8f8;
    z-index: -1;
  }

  &__left {
    max-width: 34rem;
    @include flex-container;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include mobile-tablet {
      align-self: flex-start;
    }

    &-description {
      margin-top: var(--default-padding);
    }

    &-icons {
      @include flex-container;
      align-self: flex-start;
      gap: var(--default-padding);
      justify-content: flex-start;
    }
    &-icon {
      box-shadow: 0 0.3rem 0.5rem 0.5rem rgba(240, 240, 240);
      border-radius: 50%;
    }

    &-copyright {
      color: #afb5c0;

      .span {
        color: #afb5c0;
      }
    }
  }

  &__right {
    flex: 1;
    @include flex-container;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--default-padding);

    @include mobile-tablet {
      width: 100%;
    }

    &-title {
      line-height: 1.88;
      font-weight: 500;
      text-wrap: nowrap;
    }

    &-list {
      margin-top: var(--default-padding);
      line-height: 1.7;
    }
  }
}
