@import "./mixins";

.section {
  @include flex-container;
  flex-wrap: wrap;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &__content {
    &-title {
      color: var(--color-very-dark-blue);
      font-weight: 500;
      font-size: 3.5rem;
    }

    &-description {
      color: var(--color-grayish-blue);
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

.section-centered {
  flex-direction: column;
  text-align: center;

  .section__content {
    @include flex-container;
    flex-direction: column;

    &-title {
      max-width: 38.3rem;
      text-align: center;
    }

    &-description {
      max-width: 55.5rem;
      margin-top: var(--default-padding);
    }
  }
}
