:root {
  --desktop-width: 114rem;
  --default-padding: 2rem;
  --default-radius: 1rem;
  --tablet-width: 600px;
  --timing-animation: 0.3s;
  --color-soft-blue: #5368df;
  --color-soft-red: #f53838;
  --color-soft-red-shadow: #f538384d;
  --color-grayish-blue: #4f5665;
  --color-very-dark-blue: #0b132a;
  --color-white: #ffffff;
}
